.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;n
}

.red-background {
  background-color: red;
}
.dark-background {
  background-color: black;
  color: white;
}
.orginal-background {
  background-color: white;
  color: black;
}